.content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.sp {
  color: #2f00ff;
}
.cardo {
  width: 200px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #e0e0e0;
            box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}

.cim {
  width: 70%;
  padding: 10px;
  border-radius: 30px;
  transition: all 0.4s ease-in-out;
}
.cim:hover {
  
            box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}
h3 {
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}
h3:hover {
  color:#2f00ff;
  transition: all 0.4s ease-in-out;
  text-shadow: 0 0 10px rgba(47, 0, 255, 0.8), 0 0 20px rgba(17, 0, 255, 0.8), 0 0 30px rgba(4, 0, 255, 0.8);
  font-weight: 200;
}
.x{
  margin-bottom: 30px;
}