.social-menu ul {
 
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}
.social-menu ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #363636;
}
.social-menu ul li a:hover > .fa {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
  text-align: center;
  transition: 0.6s;
  background: #e0e0e0;
            box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}
.social-menu ul li a:hover {
  transform: translate(0, -10%);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 81, 255, 0.829);
  box-shadow: 0 0 10px rgba(0, 81, 255, 0.829), 0 0 20px rgba(0, 81, 255, 0.829),
    0 0 30px rgba(0, 81, 255, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #ff1e47;
  box-shadow: 0 0 10px #ff1e47, 0 0 20px #ff1e47, 0 0 30px #ff1e47;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
  box-shadow: 0 0 10px #0077b5, 0 0 20px #0077b5, 0 0 30px #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: rgb(255, 230, 0);
  box-shadow: 0 0 10px rgba(255, 251, 0, 0.8), 0 0 20px rgba(255, 238, 0, 0.8),
    0 0 30px rgba(255, 217, 0, 0.8);
}

/**/
.login {
  color: #363636;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size:30px;
    transition: all 0.4s ease-in-out;
    
}
.login:hover{
    text-shadow: 0 0 10px rgba(0, 17, 255, 0.8), 0 0 20px rrgba(38, 0, 255, 0.8)
    0 0 30px rgba(38, 0, 255, 0.8);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 350px;
    flex-direction: column;
    gap: 35px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;

}
.card:hover{
    box-shadow: 15px 15px 30px rgba(190, 0, 0, 0), -15px -15px 30px rgba(36, 36, 36, 0);

}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #2f00ff;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #2f00ff;
    border-bottom: 2px solid #2f00ff;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #363636;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #2f00ff;
    letter-spacing: 0.2em;
    color: #ffffff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid #2f00ff;
    border-radius: 8px;
}

.enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #2f00ff;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.enter:hover {
    background-color: #2f00ff;
    border: 0px solid#2f00ff;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(38, 0, 255, 0.8), 0 0 20px rgba(0, 17, 255, 0.8)
    0 0 30px rgba(25, 0, 255, 0.8);
}

/**/
.big{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}